<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>登录</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>
   <form action="/signin" method="post" accept-charset="utf-8">
       <legend>请登录：</legend>
       <p>用户名：<input type="text" name="username" value="{{ username }}" placeholder="用户名"> </p>
       <p>密  码：<input type="password" name="password" value="" placeholder="密码"> </p>
       <p><button type="submit">登录</button></p>
   </form> 
</body>
</html>